.whatsNew {
    color: #fff;
    background-color: #038C8C;
    margin-bottom: 10px;
}

ion-thumbnail {
    --border-radius: 10px;
}

h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Roboto' sans-serif;
    margin-left: 5vw;
    margin-bottom: 10vw;
    font-weight: bold;
    font-size: 10vw;
}

a {
    text-decoration: none;
}

ion-item {
    height: 80px;
    margin-bottom: 1vh;
    margin-top: 1vh;
    border-bottom: 1px solid #808080;
}

ion-list {
    margin-left: 10px;
}

.title-list {
    display: block;
    font-size: 3vh;
    font-family: 'Roboto' sans-serif;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
