.whatsNew {
    color: #fff;
    background-color: #038C8C;
    margin-bottom: 10px;
}

ion-thumbnail {
    --border-radius: 10px;
}

h1 {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

ion-item {
    height: 80px;
}

ion-list {
    margin-left: 10px;
}
