<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="text-header">
        <ion-text color="secondary">
              <h1>O que vamos <br>
              ler hoje?</h1>
        </ion-text>
    </div>

    <app-whats-new (postClicked)="goToPost($event)" [homeNews]="homeNews"></app-whats-new>

    <ion-text class="title-list" color="secondary">Caso você tenha perdido...</ion-text>

    <ion-list lines="none">
        <ion-item (click)="goToPost(homeList.id)" *ngFor="let homeList of homeLists">
            <ion-thumbnail slot="start">
                <ion-img src="../../assets/icon/xpressy.png" alt="thumbnail do post"></ion-img>
            </ion-thumbnail>
            <ion-label>
                <h2>{{ homeList.title }}</h2>
                <p>{{ homeList.text }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <a routerLink="/create">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </a>
    </ion-fab>



</ion-content>
