<div class="whatsNew">
    <div class="textTitle">
        <h2>New</h2>
    </div>
    <ion-row>
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let homeNew of homeNews">
                <ion-card (click)="goToPost(homeNew.id)">
                    <ion-card-header>
                        <img async="on" src="{{ homeNew.image }}" alt="thumbnail do card">
                        <ion-card-title>{{ homeNew.title }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{ homeNew.text }}
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-row>
</div>
