<div class="whatsNew">
    <div class="textTitle">
        <h2>New</h2>
    </div>
    <ion-row>
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let homeNew of homeNews">
                <ion-card>
                    <ion-card-header>
                        <ion-img src="https://www.woodlandtrust.org.uk/media/100078482/Sycamore01.jpg?cb=-11897985&preset=gallery-tab-main-image" alt="thumbnail do card"></ion-img>
                        <ion-card-title>{{ homeNew.title }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{ homeNew.description }}
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-row>
</div>
