<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Cadastro
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="center">

        <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm)">


            <ion-item>
                <ion-label position="stacked" class="label">Nome</ion-label>
                <ion-input placeholder="Digite seu nome" type="text" formControlName="name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" class="label">E-mail</ion-label>
                <ion-input placeholder="Digite seu e-mail" type="text" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" class="label">Usuário</ion-label>
                <ion-input placeholder="Digite o nome de usuário" type="text" formControlName="user"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" class="label">Senha</ion-label>
                <ion-input placeholder="Digite sua senha" type="text" formControlName="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" class="label">Confirmar Senha</ion-label>
                <ion-input placeholder="Confirme sua senha" type="text" formControlName="c_password"></ion-input>
            </ion-item>

            <div class="ion-padding"></div>

            <div class="ion-padding">
                <ion-row class="ion-justify-content-center">
                    <ion-button mode="ios" shape="round" type="submit" class="ion-no-margin">Cadastrar-se</ion-button>
                </ion-row>
            </div>

            <div class="ion-padding">
                <ion-row class="ion-justify-content-center ion-align-content-end">
                    <ion-text color="secondary">Já tem conta? <ion-text routerLinkActive="active"><a routerLink="/login">Faça login</a></ion-text>
                    </ion-text>
                </ion-row>
            </div>

        </form>

    </div>

</ion-content>
