<ion-content>
    <a routerLink="/login">
        <button ion-button large slot="start">
                <ion-icon name="arrow-back" color="secondary"></ion-icon>
        </button>
    </a>
    <div class="center">

        <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm)">


            <ion-item>
                <ion-label position="stacked" class="label">Usuário</ion-label>
                <ion-input placeholder="Digite um nome de usuário" type="text" formControlName="name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" class="label">E-mail</ion-label>
                <ion-input placeholder="Digite seu e-mail" type="text" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" class="label">Senha</ion-label>
                <ion-input placeholder="Digite sua senha" type="password" formControlName="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" class="label">Confirmar Senha</ion-label>
                <ion-input placeholder="Confirme sua senha" type="password" formControlName="c_password"></ion-input>
            </ion-item>

            <div class="ion-padding"></div>

            <div class="ion-padding">
                <ion-row class="ion-justify-content-center">
                    <ion-button mode="ios" shape="round" type="submit" class="ion-no-margin">Cadastrar-se</ion-button>
                </ion-row>
            </div>

            <div class="ion-padding">
                <ion-row class="ion-justify-content-center ion-align-content-end">
                    <ion-text class="text-ask" color="secondary">Já tem conta? <ion-text routerLinkActive="active"><a class="text-ask" routerLink="/login">Faça login</a></ion-text>
                    </ion-text>
                </ion-row>
            </div>

        </form>

    </div>

</ion-content>
