<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Criar
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-button (click)="openCamera()" shape="round">
        <ion-icon name="camera"></ion-icon>
    </ion-button>

    <img src="{{ myPhoto }}">

    <ion-button (click)="openGallery()" shape="round">
        <ion-icon name="photos"></ion-icon>
    </ion-button>

</ion-content>
