<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Criar Post
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="createPost" (ngSubmit)="submitPost()">

        <ion-img [src]="postImage"></ion-img>
        <ion-button class="button-image" size="full" (click)="openGallery()">
            <ion-icon name="photos"></ion-icon>
            <ion-label>Selecione a Foto</ion-label>
        </ion-button>

        <ion-item>
            <ion-label class="label" position="stacked">Título do Post</ion-label>
            <ion-input type="text" formControlName="title" placeholder="Insira o título do seu post"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label class="label" position="stacked">Texto do Post</ion-label>
            <ion-textarea autoGrow="true" formControlName="text" placeholder="Insira o texto do seu post"></ion-textarea>
        </ion-item>
        <ion-row>
            <ion-button type="submit" [disabled]="!createPost.valid">Postar</ion-button>
        </ion-row>
    </form>




</ion-content>
