<ion-content>
    <a routerLink="/home">
        <button ion-button large slot="start">
                <ion-icon name="arrow-back" color="secondary"></ion-icon>
        </button>
    </a>

    <div class="center">

        <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm)" line="none">

            <ion-item>
                <ion-label position="stacked" class="label">Usuário</ion-label>
                <ion-input type="text" formControlName="name" clearInput="true" color="secondary"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" class="label">Senha</ion-label>
                <ion-input type="password" formControlName="password" clearInput="true" color="secondary"></ion-input>
            </ion-item>
            <div class="ion-padding"></div>

            <div class="ion-padding">
                <ion-row class="ion-justify-content-center">
                    <ion-button mode="ios" color="secondary" shape="round" type="submit" class="ion-no-margin">Entrar</ion-button>
                </ion-row>
            </div>

            <div class="ion-padding">
                <ion-row class="ion-justify-content-center ion-align-content-end">
                    <ion-text class="text-ask">Não tem conta?</ion-text>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <a routerLink="/register">
                        <ion-button mode="ios" color="primary" shape="round" type="submit" class="ion-no-margin">Cadastre-se</ion-button>
                    </a>
                </ion-row>
            </div>

            <ion-row class="ion-justify-content-center ion-align-content-end">
                <ion-text color="secondary">Esqueceu sua senha? <ion-text>Clique aqui</ion-text>
                </ion-text>
            </ion-row>

        </form>

    </div>

</ion-content>
